n8n/workflows/main_pipeline.json
{
  "name": "DevSignal — Main Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 12 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/run-pipeline",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "devsignal-local-key-2024"
            }
          ]
        },
        "options": {
          "timeout": 1800000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "trigger-pipeline",
      "name": "Trigger Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst body = response.body || response;\nconsole.log('Pipeline status:', body.status);\nconsole.log('Preview:', (body.preview || '').slice(-300));\nreturn [{ json: { status: 'success', data: body } }];"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 180]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\nconst detail = error.error?.detail || error.message || 'Unknown error';\nconst msg = typeof detail === 'object' ? JSON.stringify(detail) : String(detail);\nconsole.error('Pipeline failed:', msg.slice(0, 500));\nreturn [{ json: { status: 'failed', error_message: msg.slice(0, 1000) } }];"
      },
      "id": "parse-error",
      "name": "Parse Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: '<b>DevSignal — Pipeline Failed</b>\\n\\n' + $json.error_message.slice(0, 500), parse_mode: 'HTML' }) }}"
      },
      "id": "telegram-error",
      "name": "Telegram Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 420]
    }
  ],
  "connections": {
    "Every 12 Hours": {
      "main": [
        [{ "node": "Trigger Pipeline", "type": "main", "index": 0 }]
      ]
    },
    "Trigger Pipeline": {
      "main": [
        [{ "node": "Log Success",   "type": "main", "index": 0 }],
        [{ "node": "Parse Error",   "type": "main", "index": 0 }]
      ]
    },
    "Parse Error": {
      "main": [
        [{ "node": "Telegram Error Alert", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": []
}